<div class="col-md-12">
    <ul ng-show="listReady && systems.length >= 1" class="list-group systems-list">
        <li class="list-group-item selectable" ng-repeat="system in systems" id="system_{{$index}}" ng-click="selectSystem(system, $index)">
            <div class="row">
                <div>
                    <div class="col-md-9" id="system_{{$index}}_name" >
                        <glyph si-state-glyph="system.state"></glyph>
                        <span class="bold title" si-i18n-property="system.name"></span>
                    </div>
                    <div class="col-md-3">
                        <span class="pull-right" si-state="system.state"></span>
                    </div>
                </div>
            </div>
        </li>
    </ul>

    <div ng-if="systems.length < 1" class="list-group-item">
        <strong i18n-msg="system.no.system"></strong>
    </div>

    <div ng-hide="listReady" style="padding-top: 150px; text-align: center;">
        <img src="/images/throbber.png" alt="throbber" />
    </div>
</div>
