<div mtg-playground class="deck-builder">
    <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a data-target="#set" aria-controls="set" role="tab" data-toggle="tab">Choose set</a></li>
            <li role="presentation"><a data-target="#search" aria-controls="search" role="tab" data-toggle="tab">Search card</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="set">
                <select form-input form-label="Choose set" class="input-sm" ng-change="setSet()" ng-model="selectedSet" name="sets" id="sets" ng-options="item.code as item.name for item in setList"></select>
            </div>
            <div role="tabpanel" class="tab-pane" id="search">
                <input form-input form-label="Search card" class="input-sm" type="text" name="search" id="search-card" placeholder="search card" form-append="search" form-append-icon="true" form-append-btn-submit="true" form-append-btn="searchCard()" ng-model="search" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="deck"><span translate="Deck" class="ng-scope">Deck</span></label>
        <div class="input-group">
            <input form-input type="text" name="deck" id="deck" ng-model="deck.name">
            <span class="input-group-btn">
                <div class="btn-group">
                    <button class="dropdown-toggle btn" type="button" data-toggle="dropdown" aria-expanded="false" ng-disabled="!deckList">Decks <span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li role="presentation" ng-repeat="deck in deckList">
                            <a role="menuitem" ng-click="chooseDeck(deck)">{{deck.name}}</a>
                        </li>
                    </ul>
                </div>
            </span>
        </div>
    </div>
    <div id="set-cards">
        <!-- CARDS -->
        <ul class="results" ng-show="searchCards.length">
            <li ng-repeat="card in searchCards">
                <img ng-click="toDeck(card)" ng-src="{{showCard(card)}}" />
            </li>
        </ul>
        <!-- SETS -->
        <ul class="results" ng-show="cards">
            <li ng-repeat="card in cards.cards">
                <img ng-click="toDeck(card.multiverseid)" ng-src="{{showCard(card.multiverseid)}}" />
            </li>
        </ul>
    </div>
    <div id="deck-cards" ng-show="deck.cards">
        <ul class="results">
            <li ng-repeat="card in deck.cards track by $index"><img ng-click="removeFromDeck($index)" ng-src="{{showCard(card)}}" class="search-card" /></li>
        </ul>
    </div>
</div>
<ng-include src="'/pages/playground/card-context.html'"></ng-include>
<ng-include src="'/pages/deck-builder/import-widget.html'"></ng-include>