<div class="modal fade" id="card-context" tabindex="-1" role="dialog" aria-hidden="true" ng-controller="GameModalCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div id="card-widget-mobile">
                    <img src="{{cardWidget()}}" />
                </div>
            </div>
            <div class="modal-footer">
                <div id="card-tokens" class="btn-group pull-left" ng-show="showTokenModal()">
                    <button class="btn-sm" ng-click="changeToken('lose')">-</button>
                    <span class="btn btn-default btn-sm">{{showTokens()}}</span>
                    <button class="btn-sm" ng-click="changeToken('gain')">+</button>
                </div>
                <button class="btn-sm" data-dismiss="modal">Close</button>
                <button class="btn-primary btn-sm" ng-click="tapModal()" ng-show="showTappedModal(false)"><img class="tap" src="images/t.png" />&nbsp;Tap Card</button>
                <button class="btn-primary btn-sm" ng-click="tapModal()" ng-show="showTappedModal(true)"><img class="tap" src="images/q.png" />&nbsp;Untap Card</button>
            </div>
        </div>
    </div>
</div>