<div class="modal fade" id="library-widget" tabindex="-1" role="dialog" aria-hidden="true" ng-controller="GameModalCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p>Put card on top or bottom of Library?</p>

                <button type="button" ng-click="putInLibraryModal('top')">On top</button>
                <button type="button" ng-click="putInLibraryModal('bottom')">On bottom</button>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>