<div id="playgroundnav" class="sidebar collapse">
    <div id="card-widget" class="hidden-xs">
        <img src="/images/card-back.jpeg" />
    </div>
    <div class="nav navbar-nav playground">
        <ul class="nav navbar-default">
            <li><a class="playgroundnav" ng-click="shuffleLibrary(true)">Shuffe library</a></li>
            <li><a class="playgroundnav" ng-click="drawFullHand()">Draw full hand</a></li>
            <li><a class="playgroundnav" ng-click="shuffleLibrary()">Reveal hand</a></li>
            <li><a class="playgroundnav" ng-click="untapAll()">Untap all</a></li>
            <li><hr /></li>
            <li><button class="playgroundnav" ng-click="searchCards('library')" ng-disabled="!my.library.length">Search library</button></li>
            <li><button class="playgroundnav" ng-click="searchCards('graveyard')" ng-disabled="!countCards('my','graveyard')">Search graveyard</button></li>
            <li><button class="playgroundnav" ng-click="searchCards('exile')" ng-disabled="!countCards('my','exile')">Search exiled cards</button></li>
        </ul>
    </div>
</div>
<div mtg-playground id="game-area" class="content game-area" ng-swipe-left="nextPhase()">
    <div id="op-game-area">
        <div data-hitpoints="{{op.hitpoints}}" id="op-battlefield" class="battlefield"></div>
    </div>
    <div id="phase" class="phase">
        <span ng-class="{active:phase.begin}" ng-click="setPhase('begin')">Begin</span>
        <span ng-class="{active:phase.main1}" ng-click="setPhase('main1')">Main</span>
        <span ng-class="{active:phase.combat}" ng-click="setPhase('combat')">Combat</span>
        <span ng-class="{active:phase.main2}" ng-click="setPhase('main2')">Main</span>
        <span ng-class="{active:phase.end}" ng-click="setPhase('end')">End</span>
    </div>
    <div id="my-game-area">
        <div data-hitpoints="{{my.hitpoints}}" id="my-battlefield" class="battlefield" jqyoui-droppable="{onDrop:'toBattlefield'}" data-jqyoui-options="{activeClass:'tapped'}" data-drop="true" ng-model="my.battlefield"></div>
        <div id="my-handlogic" class="handlogic">
            <div id="my-exile" class="exile" jqyoui-droppable="{onDrop:'toExile'}" data-drop="true">ex</div>
            <div id="my-graveyard" class="graveyard" jqyoui-droppable="{onDrop:'toGraveyard'}" data-drop="true">gr</div>
            <div id="my-library" class="library" jqyoui-droppable="{onDrop:'toLibrary'}" data-drop="true" ng-click="drawCard(false,'my')">
                <div class="my card-min card-dummy">
                    <img src="/images/card-back.jpeg" />
                </div>
            </div>
            <div id="my-hand" class="hand" jqyoui-droppable="{onDrop:'toHand'}" data-drop="true" data-jqyoui-options="{tolerance: 'intersect'}"></div>
        </div>
    </div>
</div>
<ng-include src="'/pages/playground/search-cards.html'"></ng-include>
<ng-include src="'/pages/playground/card-context.html'"></ng-include>
<ng-include src="'/pages/playground/chat-widget.html'"></ng-include>
<ng-include src="'/pages/playground/player-stats.html'"></ng-include>