<div class="sidebar collapse">
    <div id="card-widget" class="hidden-xs">
        <img src="/images/card-back.jpeg" />
    </div>
    <button ng-click="shuffleLibrary()">Shuffe Library</button>
    <button ng-click="untapAll()">Untap All</button>
</div>
<div mtg-playground id="game-area" class="content game-area" ng-swipe-left="nextPhase()">
    <div id="op-game-area">
        <div mtg-op-battlefield id="op-battlefield" class="battlefield"></div>
    </div>
    <div id="phase" class="phase">
        <span ng-class="{active:phase.begin}" ng-click="setPhase('begin')">Begin</span>
        <span ng-class="{active:phase.main1}" ng-click="setPhase('main1')">Main</span>
        <span ng-class="{active:phase.combat}" ng-click="setPhase('combat')">Combat</span>
        <span ng-class="{active:phase.main2}" ng-click="setPhase('main2')">Main</span>
        <span ng-class="{active:phase.end}" ng-click="setPhase('end')">End</span>
    </div>
    <div id="my-game-area">
        <div mtg-my-battlefield id="my-battlefield" class="battlefield" jqyoui-droppable="{onDrop:'toBattlefield'}"
             data-jqyoui-options="{activeClass:'tapped'}" data-drop="true" ng-model="my.battlefield"></div>
        <div id="my-handlogic" class="handlogic">
            <div id="my-exile" class="exile" jqyoui-droppable="{onDrop:'toExile'}" data-drop="true">ex</div>
            <div id="my-graveyard" class="graveyard" jqyoui-droppable="{onDrop:'toGraveyard'}" data-drop="true">gr</div>
            <div id="my-library" class="library" jqyoui-droppable="{onDrop:'toLibrary'}" data-drop="true" ng-click="drawCard()">
                <div class="my card-min card-dummy">
                    <img src="/images/card-back.jpeg" />
                </div>
            </div>
            <div id="my-hand" class="hand" jqyoui-droppable="{onDrop:'toHand'}" data-drop="true" data-jqyoui-options="{tolerance: 'intersect'}"></div>
        </div>
    </div>
</div>
<!--
<button ng-click="nextPhase()" ng-disabled="phase.end">NEXT</button>
<pre>{{ my.library }}</pre>
-->
<ng-include src="'/pages/playground/card-context.html'"></ng-include>
<ng-include src="'/pages/playground/chat-widget.html'"></ng-include>
<ng-include src="'/pages/playground/player-stats.html'"></ng-include>