<div class="page-header">
    <h1>AngularJS
        <small>We love AngularJS!</small>
    </h1>
</div>

<div scroll-spy>
    <div class="sidebar collapse navbar-collapse">
        <div id="toc-container" scroll-fix="alv-divider" scroll-fix-bottom="footer-container" role="navigation">
            <toc id="toc" selector=".toc"></toc>
        </div>
    </div>
    <div class="content">
        <h2 class="toc">I18n</h2>

        <p class="info-notice">Under Construction</p>

        <h2 class="toc">Security</h2>

        <p class="info-notice">Under Construction</p>

        <h2 class="toc">Navigation</h2>

        <p class="info-notice">Under Construction</p>

        <h2 class="toc">Grid system</h2>
        <div highlight="this">
<div grid="show-grid">
    <div column="2">.col-md-2</div>
    <div column="2">.col-md-2</div>
    <div column="2">.col-md-2</div>
    <div column="2">.col-md-2</div>
    <div column="2">.col-md-2</div>
    <div column="2">.col-md-2</div>

    <div column="4">.col-md-4</div>
    <div column="2">.col-md-2</div>
    <div column="2">.col-md-2</div>
    <div column="4">.col-md-4</div>

    <div column="4">.col-md-4</div>
    <div column="4" column-offset="4">.col-md-4 .col-md-offset-4</div>

    <div column="3" column-offset="3">.col-md-3 .col-md-offset-3</div>
    <div column="3" column-offset="3">.col-md-3 .col-md-offset-3</div>

    <div column="6" column-offset="3" column-last="true">.col-md-6 .col-md-offset-3</div>

    <div column="9" column-push="3">.col-md-9 .col-md-push-3</div>
    <div column="3" column-pull="9">.col-md-3 .col-md-pull-9</div>
</div>
        </div>

        <h2 class="toc" id="autocompleter">Autocompleter / Input Tag / Input Dropdown</h2>
        <div highlight="this" highlight-model="tags">

<input type="text"
       form-input
       form-label="testLabel"
       typeahead="city as city.text for city in cities | filter:{text:$viewValue}"
       typeahead-append-to-body="true"
       i18n-attribute="placeholder"
       i18n-value="testAutoCompletePlaceholder"
       ng-model="selected" />

<input type="text"
       form-tag="testLabel"
       form-target-model="tags"
       form-label="testLabel"
       typeahead="city as city.text for city in cities | filter:{text:$viewValue}"
       typeahead-on-select="addToTargetModel($item)"
       typeahead-append-to-body="true"
       i18n-attribute="placeholder"
       i18n-value="testAutoCompletePlaceholder"
       ng-model="selected" />

<div type="text"
     form-tag="testLabel"
     form-target-model="tags"
     form-label="testLabel"
     form-append-dropdown="berufsgruppen"
     form-append-dropdown-title="Berufsgruppen"
     i18n-attribute="placeholder"
     i18n-value="testAutoCompletePlaceholder"
     ng-model="selected"></div>

<input type="text"
       form-tag="testLabel"
       form-target-model="tags"
       form-label="testLabel"
       form-helptext="testHelptext"
       form-append-dropdown="berufsgruppen"
       form-append-dropdown-title="Berufsgruppen"
       typeahead="city as city.text for city in cities | filter:{text:$viewValue}"
       typeahead-on-select="addToTargetModel($item)"
       typeahead-append-to-body="true"
       i18n-attribute="placeholder"
       i18n-value="testAutoCompletePlaceholder"
       ng-model="selected" />

        </div>

        <h2 class="toc" id="better_label">Better Label/Placeholders</h2>
        <div highlight="this">

<input type="text" form-input form-placeholder="testLabel" form-placeholder-type="label" id="test1"
       ng-model="searchCriteria.placeholder1"/>

<input type="text" form-input form-placeholder="testLabel" form-placeholder-type="inside" id="test2"
       ng-model="searchCriteria.placeholder2"/>

<input type="text" form-input form-placeholder="testLabel" form-placeholder-type="outline" id="test3"
       ng-model="searchCriteria.placeholder3"/>

        </div>

        <h2 class="toc">ScrollFix</h2>

        <p class="info-notice">Under Construction</p>

        <h2 class="toc">ScrollSpy</h2>

        <p class="info-notice">Under Construction</p>

        <h2 class="toc">ScrollUp</h2>

        <p class="info-notice">Under Construction</p>

        <h2 class="toc">UiConfig</h2>

        <p class="info-notice">Under Construction</p>
    </div>
</div>