<div si-page="pageReady">
    <messages ng-cloak message-scope="resourceName"></messages>

    <si-page-header>
        <span ng-cloak ng-bind="data.view.title"></span>

        <a class="btn btn-primary pull-right" ng-click="createNew()" ng-if="data.view.state === 'list'">
            <span i18n-msg="{{resourceName}}"></span>&nbsp;
            <span i18n-msg="common.button.createNew.lower"></span>
        </a>
        <a class="btn btn-primary pull-right" ng-click="deleteCurrent()" ng-if="(data.view.state === 'read' || data.view.state === 'edit') && !hideDetailViewLinks">
            <span ng-hide="hideDetailViewLinks" i18n-msg="common.button.delete"></span>
        </a>
        <a class="btn btn-primary pull-right" ng-click="editCurrent()" ng-if="data.view.state === 'read' && !hideDetailViewLinks">
            <span i18n-msg="common.button.edit"></span>
        </a>
        <span ng-transclude ng-if="data.view.state === 'read' && hideDetailViewLinks"></span>
    </si-page-header>

    <si-page-body>
        <div class="col-md-12" ng-include="getViewTemplate()"></div>
    </si-page-body>

</div>
