/*
| -------------------------------------------------------------------
|  MTG Node LESS Mixins
| -------------------------------------------------------------------
|
|
|   Author : Yomguithereal
|   Version : 1.0
*/
@font-face {
  font-family: 'Magic Cards Normal';
  font-style: normal;
  font-weight: normal;
  src: local('Magic Cards Normal'), url('../fonts/MagicCardsNormal.woff') format('woff');
}
body,
html {
  font-family: 'RobotoDraft', sans-serif;
}
body {
  margin: 0;
  padding-top: 51px;
}
.playground .sidebar {
  width: 250px;
}
.player-stats {
  font-size: 0.809em;
}
.container.main {
  padding: 0 5px;
  min-height: auto;
}
#game-area.content {
  padding: 0;
}
#card-widget img {
  height: 348px;
}
#card-widget-mobile img {
  height: 280px;
}
#card-widget-mobile {
  text-align: center;
}
.modal {
  padding-top: 50px;
}
.modal-footer .btn {
  margin-bottom: 0;
}
span.mtg {
  font-family: 'Magic Cards Normal';
  font-weight: 700;
}
.navbar-playground {
  color: #fff;
}
.has-comment {
  padding-right: 0 !important;
}
.chat-message {
  height: 200px;
  overflow-y: auto;
  font-size: 0.809em;
}
#game-area {
  height: 500px;
}
.phase {
  height: 25px;
  background-color: #000099;
  color: #fff;
  font-size: 0.809em;
  line-height: 25px;
}
.battlefield {
  height: 200px;
}
.handlogic,
.handlogic > div {
  height: 55px;
}
.handlogic > div {
  background-color: #e1e1e8;
  float: left;
  margin-right: 2px;
}
.handlogic div:last-child {
  margin-right: 0;
}
.exile,
.graveyard,
.library {
  width: 40px;
}
.exile img.card-min,
.graveyard img.card-min,
.library img.card-min {
  width: 40px;
  height: 55px;
}
#my-battlefield:before {
  content: "20";
  position: absolute;
  right: 5px;
  font-weight: bold;
  color: #777;
}
#op-battlefield:after {
  content: "20";
  position: absolute;
  left: 5px;
  top: 225px;
  font-weight: bold;
  color: #777;
}
.hand {
  width: 184px;
}
.phase span {
  width: 19%;
  text-align: center;
  display: inline-block;
}
.phase span.active {
  font-weight: bold;
}
.tap {
  height: 1em;
}
.badge-notify {
  background: red !important;
  position: relative !important;
  top: -1em !important;
  left: -1em !important;
  font-size: 0.6em;
}
#my-hitpoints,
#my-infection {
  margin-top: 0.3em;
  margin-right: 0.5em;
}
.card-min {
  width: 40px;
  height: 55px;
  cursor: pointer;
  z-index: 40;
  /*@media (max-width: @screen-sm-max) {
    width:@card-xs-min-width;
    height:@card-xs-min-height;
  }*/
  position: absolute !important;
  -webkit-transition: -webkit-transform 0.3s ease;
  -moz-transition: -moz-transform 0.3s ease;
  -o-transition: -o-transform 0.3s ease;
  transition: transform 0.3s ease;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  perspective: 1000;
  -o-perspective: 1000;
  -ms-perspective: 1000;
}
.card-min img {
  width: 40px;
  height: 55px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.card-min.tapped {
  -webkit-transform: rotate(90deg) scale(1) translate3d(0, 0, 0);
  -moz-transform: rotate(90deg) scale(1) translate3d(0, 0, 0);
  -o-transform: rotate(90deg) scale(1) translate3d(0, 0, 0);
  -ms-transform: rotate(90deg) scale(1) translate3d(0, 0, 0);
  transform: rotate(90deg) scale(1) translate3d(0, 0, 0);
}
.card-min.in-library {
  top: 0;
}
.card-min.in-game {
  -webkit-box-shadow: rgba(100, 100, 100, 0.298039) 0px 2px 6px 0px;
  -moz-box-shadow: rgba(100, 100, 100, 0.298039) 0px 2px 6px 0px;
  box-shadow: rgba(100, 100, 100, 0.298039) 0px 2px 6px 0px;
}
.card-min.flipped {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.my.card-min .back-side,
.in-library.card-min .front-side {
  display: none;
}
.in-library.card-min .back-side {
  display: block;
}
.front-side.my,
.back-side.my {
  -webkit-transform: translateZ(0px);
  -moz-transform: translateZ(0px);
  -o-transform: translateZ(0px);
  -ms-transform: translateZ(0px);
  transform: translateZ(0px);
}
