#game-area {
  height: 535px; // change!!
}
.phase {
  height: 25px;
  background-color: @mtg-blue;
  color: #fff;
  font-size: 0.809em;
  line-height: 25px;
}
.phase.small {
  height: 5px;
}
.battlefield {
  height: 200px; // change
}
.handlogic,
.handlogic > div {
  height: @card-min-height;
}
.handlogic > div {
  background-color: #e1e1e8;
  float: left;
  margin-right: 2px;
}
.handlogic div:last-child {
  margin-right: 0;
}

.exile,
.graveyard,
.library {
  width: @card-min-width;
}

.exile img.card-min,
.graveyard img.card-min,
.library img.card-min {
  width: @card-min-width;
  height: @card-min-height;
}

#my-battlefield:before,
#op-battlefield:after {
  content: attr(data-hitpoints);
  position: absolute;
  right: 5px;
  font-weight: bold;
  color: #777;
}
#op-battlefield:after {
  left: 5px;
}

.hand {
  //width: calc(100% - (3 * (@card-min-width+2)));
  // width: calc(~'100% - ' (@card-xs-min-width*3)+3);
  width: calc(~'100% - ' (3 * (@card-min-width+2)));
  //width: 310-(@card-min-width+2);
}
.phase span {
  width: 19%;
  text-align: center;
  display: inline-block;
}

.phase span.active {
  font-weight: bold;
}

.tap {
  height: 1em;
}

.badge-notify{
  background:red !important;
  position:relative !important;
  top: -1em !important;
  left: -1em !important;
  font-size: 0.6em;
}

#my-hitpoints,
#my-infection {
  margin-top: 0.3em;
  margin-right: 0.5em;
}
#messages:after {
  content: attr(data-messages);
  font-weight: bold;
  color: #fff;
}

#playgroundnav {
  position: fixed !important;
  top: 51px;
  left: 0;
  height: 100% !important;
  font-size: 1em;
  width: percentage((8 / 12));
  z-index: 9000;
}
#playgroundnav .playground {
  padding: 5px;
  font-size: 0.809em;
}
#playgroundnav ul {
  background-color: transparent;
}
.playgroundnav {
  cursor: pointer;
}
.search-card {
  width: 30%;
  height: auto;
  margin-right: 3%;
  margin-bottom: 3%;
}
.search-card:nth-of-type(3){
  margin-right: 0;
}

button.playgroundnav {
  font-size: 1em;
  background-color: transparent !important;
  color: #FFFFFF !important;
  padding: 10px 15px;
  margin: 0;
  -webkit-box-shadow: 0 0 0 0 transparent !important;
  -moz-box-shadow: 0 0 0 0 transparent !important;
  box-shadow: 0 0 0 0 transparent !important;
}

#search-cards input.search-library {
  width: 5em;
  display: inline;
}

#search-cards img.selected {
  border: 2px solid @mtg-blue;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

.mtg-dialog {
  padding-top: 50px;

  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}