<div class="modal fade" id="host-game" tabindex="-1" role="dialog" aria-hidden="true" ng-controller="MtgMainCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <input form-input form-label="Game name:" id="game" name="game" ng-model="game" />
            </div>
            <div class="modal-footer">
                <button class="btn-sm btn-primary" ng-click="hostGame()">Host</button>
            </div>
        </div>
    </div>
</div>