<alert alert-dismissable="true">Update available <button class="btn-sm" glyph-icon="refresh" click="javascript:location.reload();"> Update</button></alert>
<h1>lobby</h1>
<strong>Hello {{ getCredentials().currentUser.username }}</strong>

<button ng-click="testUser()">test user/pwd</button>
<pre>{{ sampleUser }}</pre>

<div class="well">
    <ul>
        <li ng-repeat="game in games"><a href="#/playground/{{game}}">{{game}}</a></li>
    </ul>
</div>
<ng-include src="'/pages/lobby/host-game.html'"></ng-include>