<alert alert-dismissable="true">Update available <button class="btn-sm" glyph-icon="refresh" click="javascript:location.reload();"> Update</button></alert>
<strong>Hello {{ getCredentials().currentUser.username }}</strong>
<br />
live games
<div class="well">
    <ul>
        <li ng-repeat="game in games"><a href="#/playground/{{game.name}}">{{game.name}} ({{game.player1}})</a></li>
    </ul>
</div>

saved games
<div class="well">
    <ul>
        <li ng-repeat="game in savedGames"><a href="#/playground/{{game.name}}">{{game.name}} ({{game.player1}} vs. {{game.player2}})</a></li>
    </ul>
</div>
<ng-include src="'/pages/lobby/host-game.html'"></ng-include>